#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #111111;
}
body{
  background-color: #111111;
  color: #ffffff;

  background-color: rgb(27, 27, 27);
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  height:100%;
  background-size:50px 50px;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center  ;
  align-items: center;
  text-align: center;
}
.App button{
  margin: 1rem;
}
.Form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.Form-container button{
  margin: 1rem;
  width: 100px;
  background-color: #585858;
  text-align: center;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container button{
  margin: 1rem;
}
h1 span{
  color: #72FF80;
}


.Input{
  width: 500px !important;
  margin: 1rem !important;
  border: 1px solid #72FF80;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 1rem;
  flex-grow: 2;
}

.disabled-link {
  pointer-events: none;
}
